{% extends 'layout.html' %}

{% block title %} Posts List {% endblock %}

{% block content %}
    <div class="posts-page-content">
        <h1>Posts List</h1>
        <p>{% lorem 5 %}</p>

        {% for post in posts %}
            <div class="post-card">
                <h2>
                    <a href="{% url 'blog:single_post' slug=post.slug %}">
                        {{ post.title }}
                    </a>
                </h2>
                <p>{{ post.created_at }} by {{ post.author }}</p>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}